
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border rounded bg-white shadow main_div" style="min-width: 300px;">
    <div class="text-center">
      <h1 class="mb-3" style="color: #dc481a">Thank You!</h1>
      <p>Thank you <strong><%= @user_email %></strong> for submitting your information.</p>
      <p>For further assistance, please contact live agent</p>
    </div>
  </div>
</div>
